@model AccountManager.Models.Invoice

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
 
<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmInvoice", "tbInvoice", true, "Action Successfully Executed")
 
@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
 
@using (Html.BeginForm("Create", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data",id = "frmInvoice"  }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Generate Invoice </h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form">
                        <div class="box-body">
                            <div class=" ">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.YearId, new { @class = "" })
                                                @Html.DropDownList("YearId", " -Select- ")
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.OtherInvoiceCode, new { @class = "" })
                                                @Html.EditorFor(model => model.OtherInvoiceCode)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DueDate, new { @class = "" })
                                                @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "" } })
                                                <script>$(function () { $("#DueDate").datepicker({ dateFormat: 'dd/mm/yyyy'}); });</script>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AccountHolderId, new { @class = "" })
                                                @Html.DropDownList("AccountHolderId", " -Select- ")
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BillDate, new { @class = "" })
                                                @Html.EditorFor(model => model.BillDate, new { htmlAttributes = new { @class = "" } })
                                                <script>$(function () { $("#BillDate").datepicker({ dateFormat: 'dd/mm/yyyy'}); });</script>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Status, new { @class = "" })
                                                @Html.DropDownList("Status", " -Select- ")
                                                @*@Html.StarkDropDownAjaxLink("/PaymentStatus/Create", "AddMore", "")*@
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="box-footer">
                            @Html.StarkInputButtion("Generate Invoice", "submit","btn btn-primary","") 
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



<style>
    #DueDate{
        width:100%;
    }
    #BillDate {
        width: 295px;
    }
    #Status, #YearId, #AccountHolderId {
        width: 295px;
    }
</style>