@model AccountManager.Models.Invoice

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
 
<script src="~/Content/ckeditor/ckeditor.js"></script>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
</head>
@Html.StarkAjaxFormSubmiter("frmInvoice", "tbInvoice", true, "Action Successfully Executed")
 
@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Title</small>
            </h1>
        </section>
    }
}
 
@using (Html.BeginForm("Create", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data",id = "frmInvoice"  }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Generate Invoice </h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form" style="height: 320px;">
                        <div class="box-body">
                            <div class=" ">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.YearId, new { @class = "" })
                                                @*@Html.DropDownList("YearId", "-Select-")*@
                                                @Html.TextBox("Year", (object)ViewBag.Year)
                                                @Html.Hidden("YearId", (object)ViewBag.YearId)

                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.InstallmentNo, new { @class = "" })
                                                @Html.TextBox("InstallmentNo", (object)ViewBag.InstallmentNo)
                                            </div>
                                           
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DueDate, new { @class = "" })                                                 
                                                @Html.TextBox("DueDate", (object)ViewBag.DueDate)
                                                @*<script type="text/javascript">$(function () { $("#DueDate").datepicker({ format: "dd/mm/yyyy" }) });</script>*@
                                            </div>
                                            <div class="form-group">

                                                @Html.Hidden("TransactionId", (object)ViewBag.TransactionId)
                                            </div>
                                            <div class="form-group">
                                                @Html.StarkInputButtion("Generate Invoice", "submit", "btn btn-primary", "")
                                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AccountHolderId, new { @class = "" })
                                                @*@Html.DropDownList("AccountHolderId", " -Select- ")*@
                                                @Html.TextBox("AccountHolderName", (object)ViewBag.AccountHolderName)
                                                @Html.Hidden("AccountHolderId", (object)ViewBag.AccountHolderId)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BillDate, new { @class = "" })
                                                @Html.EditorFor(model => model.BillDate, new { htmlAttributes = new { @class = "" } })

                                                <script type="text/javascript">$(function () { $("#BillDate").datepicker({ format: "dd/mm/yyyy" }) });</script>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Status, new { @class = "" })
                                                @Html.DropDownList("Status", " -Select- ")
                                                @*@Html.StarkDropDownAjaxLink("/PaymentStatus/Create", "AddMore", "")*@
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.OtherInvoiceCode, new { @class = "" })
                                                @Html.EditorFor(model => model.OtherInvoiceCode)
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="box-footer">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



<style>
    #DueDate {
        width: 295px;
        background-color: #e8ebee !important;
    }
    #InstallmentNo {
        width: 295px;
        height: 34px;
        background-color: #e8ebee !important;
    }
    #BillDate, #OtherInvoiceCode {
        width: 295px;
    }
    #Year, #AccountHolderName {
        width: 295px;
        background-color: #e8ebee !important;
    }
    #Status {
        width: 295px;
    }

   
    
</style>
<script>
    $("#AccountHolderId").attr("readonly", "true").addClass("");
    $("#YearId").attr("readonly", "true");
    $("#InstallmentNo").attr("readonly", "true");
    
</script>