@model AccountManager.Models.Invoice
@{
    ViewBag.Title = "Advance Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/DataTable/new/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTable/new/jquery.dataTables.min.css" rel="stylesheet" />
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
</head>
@section ScriptsOrCss
{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/tabs/Jquery-ui.js"></script>
    <link href="~/Content/tabs/JqueryUi.css" rel="stylesheet" />
    <script>
        $(function () {

            $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");

            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });
            $("#opener").click(function () {
                $("#dialog").dialog("open");
            });

        });
    </script>

    <style>
        table {
            width: 100% !important;
        }

        .ui-tabs-vertical {
            width: 100%;
        }

            .ui-tabs-vertical .ui-tabs-nav {
                padding: .2em .1em .2em .2em;
                float: left;
                width: 19%;
            }

                .ui-tabs-vertical .ui-tabs-nav li {
                    clear: left;
                    width: 100%;
                    border-bottom-width: 1px !important;
                    border-right-width: 0 !important;
                    margin: 0 -1px .2em 0;
                }

                    .ui-tabs-vertical .ui-tabs-nav li a {
                        display: block;
                    }

                    .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
                        padding-bottom: 0;
                        padding-right: .1em;
                        border-right-width: 1px;
                    }

            .ui-tabs-vertical .ui-tabs-panel {
                padding: 1em;
                float: right;
                width: 80%;
            }
    </style>
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>


@Html.StarkAjaxFormSubmiter("frmInvoice", "tbInvoice", true, "Action Successfully Executed")
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid box-primary">


                <div id="tabs">
                    <ul>
                        <li><a href="#EditThis">Edit</a></li>


                    </ul>
                    <div id="EditThis" style="height:700px;overflow:auto;">
                        @using (Html.BeginForm("MultiViewIndex", "Invoice", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmInvoice" }))
                        {
                            @Html.AntiForgeryToken()

                            if (ViewBag.IsWorking > 0)
                            {
                                <section class="content">
                                    <!-- Small boxes (Stat box) -->
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="box box-solid box-primary">
                                                <div class="box-header">
                                                    <h3 class="box-title">Generate Invoice </h3>
                                                </div><!-- /.box-header -->
                                                <!-- form start -->
                                                <div role="form" style="height: 320px;">
                                                    <div class="box-body">
                                                        <div class=" ">
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.YearId, new { @class = "" })
                                                                            @*@Html.DropDownList("YearId", "-Select-")*@
                                                                            @Html.TextBox("Year", (object)ViewBag.Year)
                                                                            @Html.Hidden("YearId", (object)ViewBag.YearId)

                                                                        </div>
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.InstallmentNo, new { @class = "" })
                                                                            @Html.TextBox("InstallmentNo", (object)ViewBag.InstallmentNo)
                                                                        </div>

                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.DueDate, new { @class = "" })
                                                                            @Html.TextBox("DueDate", (object)ViewBag.DueDate)
                                                                            @*<script type="text/javascript">$(function () { $("#DueDate").datepicker({ format: "dd/mm/yyyy" }) });</script>*@
                                                                        </div>
                                                                        <div class="form-group">

                                                                            @Html.Hidden("TransactionId", (object)ViewBag.TransactionId)
                                                                        </div>
                                                                        <div class="form-group">
                                                                            @Html.StarkInputButtion("Generate Invoice", "submit", "btn btn-primary", "")
                                                                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-10">
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.AccountHolderId, new { @class = "" })
                                                                            @*@Html.DropDownList("AccountHolderId", " -Select- ")*@
                                                                            @Html.TextBox("AccountHolderName", (object)ViewBag.AccountHolderName)
                                                                            @Html.Hidden("AccountHolderId", (object)ViewBag.AccountHolderId)
                                                                        </div>

                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.BillDate, new { @class = "" })
                                                                            @Html.EditorFor(model => model.BillDate, new { htmlAttributes = new { @class = "" } })

                                                                            <script type="text/javascript">$(function () { $("#BillDate").datepicker({ format: "dd/mm/yyyy" }) });</script>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.Status, new { @class = "" })
                                                                            @Html.DropDownList("Status", " -Select- ")
                                                                            @*@Html.StarkDropDownAjaxLink("/PaymentStatus/Create", "AddMore", "")*@
                                                                        </div>
                                                                        <div class="form-group">
                                                                            @Html.LabelFor(model => model.OtherInvoiceCode, new { @class = "" })
                                                                            @Html.EditorFor(model => model.OtherInvoiceCode)
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="box-footer">
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            }
                        }
                    </div>

                    
                    

                </div>



            </div>
        </div>
    </div>
</section>





<style>
    #DueDate {
        width: 295px;
        background-color: #e8ebee !important;
    }

    #InstallmentNo {
        width: 295px;
        height: 34px;
        background-color: #e8ebee !important;
    }

    #BillDate, #OtherInvoiceCode {
        width: 295px;
    }

    #Year, #AccountHolderName {
        width: 295px;
        background-color: #e8ebee !important;
    }

    #Status {
        width: 295px;
    }
</style>
<script>
    $("#AccountHolderId").attr("readonly", "true").addClass("");
    $("#YearId").attr("readonly", "true");
    $("#InstallmentNo").attr("readonly", "true");

</script>