@model AccountManager.Models.Transaction

@{
    ViewBag.Title = "Create";
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js">    </script>
</head>
<script src="~/Content/ckeditor/ckeditor.js"></script>

@Html.StarkAjaxFormSubmiter("frmTransaction", "tbTransaction", true, "Action Successfully Executed")
 
@{
    if (!Ajax.IsThisAjaxRequest())
    {
        <section class="content-header">
          
        </section>

    }
}
<script type="text/javascript">
    $(function () {
        $('select').searchableOptionList({
            maxHeight: '100px'
        });
    });
</script>
 
@using (Html.BeginForm("Create", "Transaction", FormMethod.Post, new { enctype = "multipart/form-data",id = "frmTransaction"  }))
{
    @Html.AntiForgeryToken()
          <!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    

      
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Ledger Entry</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div role="form" style="height: 448px;">
                        <div class="box-body">
                            <div class=" ">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.YearId, new { @class = "" })
                                                @Html.DropDownList("YearId", " -Select- ")

                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TransactionDate, new { @class = "" })
                                                @Html.EditorFor(model => model.TransactionDate, new { htmlAttributes = new { @class = "" } })
                                                <script type="text/javascript">$(function () { $("#TransactionDate").datepicker({ format: "dd/mm/yyyy" }) });</script>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Title, new { @class = "" })
                                                @Html.EditorFor(model => model.Title)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DebitAmount, new { @class = "" })
                                                @Html.EditorFor(model => model.DebitAmount)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BalanceAmount, new { @class = "" })
                                                @Html.EditorFor(model => model.BalanceAmount)
                                            </div>
                                            @if (Convert.ToInt32( ViewBag.OverDueDays) > 0)
                                            {
                                                <div class="form-group" id="OverDueDaysId">
                                                    @Html.LabelFor(model => model.OverDueDays, new { @class = "" })
                                                    @Html.TextBox("OverDueDays", (object)ViewBag.OverDueDays)
                                                </div>
                                            }


                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AccountHolderId, new { @class = "" })
                                                @Html.DropDownList("AccountHolderId", " -Select- ")
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.InstallmentNo, new { @class = "" })
                                                <br />

                                                @Html.TextBox("InstallmentNo", (object)ViewBag.InstallmentNo)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.HireCharge, new { @class = "" })
                                                @Html.EditorFor(model => model.HireCharge)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CreditAmount, new { @class = "" })
                                                @Html.EditorFor(model => model.CreditAmount)
                                            </div>

                                            @if (Convert.ToInt32(ViewBag.OverDueDays) > 0)
                                            {
                                                <div class="form-group" id="OverDueAmountId">
                                                    @Html.LabelFor(model => model.OverDueAmount, new { @class = "" })
                                                    @Html.TextBox("OverDueAmount", (object)ViewBag.OverDueAmount)
                                                </div>
                                            }
                                            <div class="box-footer">
                                                @Html.StarkInputButtion("Save Ledger Entry", "submit", "btn btn-primary", "")
                                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


















                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
</section>
}


<script type="text/javascript">

  
    $("#YearId").change(function () {
           
        $.ajax({
            type: 'GET',
            url: '/AccountHolders/GetAccountHolderNames/'+$("#YearId").val(),
            contentType: 'application/json',
            datatype: 'json',
            success: function (data) {
                alert(data);
            }
        });
    });
</script>

<script type="text/javascript">

        $(document).ready(function () {
            var oTableTransaction = "";
            var ControlerNameTransaction = "@Url.Content("~/Transaction")";
            // debugger;
            oTableTransaction = $("#tbTransaction").dataTable({
                "bRetrieve": true,
                "bProcessing": true,
                "dom": 'lBfrtip',
                "sAjaxSource": "@Url.Content("~/Transaction/GetGrid")",
                "buttons": [
                    // { extend: 'copyHtml5', exportOptions: { columns: ':visible' } }
                    , { extend: 'excelHtml5', exportOptions: { columns: ':visible' } }
                    // ,{ extend: 'csvHtml5', exportOptions: { columns: ':visible' } }
                    , { extend: 'pdfHtml5', exportOptions: { columns: ':visible' } }
                    // ,{ extend: 'print', exportOptions: { columns: ':visible' } }
                    , 'colvis'
                ], columnDefs: [{ visible: false }],
                "pageLength": 10,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "aoColumns": [

                    {
                        "mRender": function (oObj, type, row) {

                            var buttons = '<div class="text-center"> <div class="btn-group text-left"> <button type="button" class="btn btn-default btn-xs btn-warning dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>';
                            buttons += '<ul class="dropdown-menu pull-left" role="menu">';
                            buttons += '<li><a href="' + ControlerNameTransaction + "/MultiViewIndex/" + row[0] + '"><i class="fa fa-edit"></i> Edit</a></li>';
                            buttons += '<li><a href="' + ControlerNameTransaction + "/Delete/" + row[0] + '" data-ajax-update="#SkDelete" data-ajax-success="openModalDialog(\'SkDelete\', \'Delete\')" data-ajax-mode="replace" data-ajax-method="GET" data-ajax-failure="clearModalDialog(\'SkDelete\');alert(\'Ajax call failed\')" data-ajax-begin="prepareModalDialog(\'SkDelete\')" data-ajax="true"><i class="fa fa-trash-o"></i> Delete</a></a></li>';
                            buttons += '</ul>';
                            buttons += '</div></div>';
                            return buttons;
                        }

                    }, {}
                    , {}
                    , {}
                    , {}
                    , {}
                    , {}
                    , {}
                    , {}
                    , {}
                    , {}


        ]

        });

        });
</script>

 <style>
     #TransactionDate, #InstallmentNo {
         width: 100%;
         height: 34px;
     }
     #InstallmentNo {
         width: 100%;
         height: 34px;
         background-color: #e8ebee !important;
     }
     .sol-inner-container {
         border: 2px solid red;
         display:none;
     }
     .sol-selected-display-item {
         width: 378px;
     }
     #OverDueDays {
         background-color: #e8ebee !important;
     }
     .hidediv{

     }
 </style>
<script type="text/javascript">
    $("#OverDueDays").attr("readonly", "true");
    $("#InstallmentNo").attr("readonly", "true");


    if ($("#OverDueDays").val() <= 0) {
        $("#OverDueDaysId").addClass("hidediv");
        $("#OverDueAmount").addClass("hidediv");
    } else {
        $("#OverDueDaysId").removeClass("hidediv");
        $("#OverDueAmount").removeClass("hidediv");
    }
</script>