@model AccountManager.ModelDto.HomeDto
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>



<section class="content-header">
    <h1>
        Dashboard
        <small>   </small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>  @Model.User </h3>
                    <p>Total Users Count</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <a class="small-box-footer" href="~/User/">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>  @Model.Role </h3>
                    <p>Total Roles</p>
                </div>
                <div class="icon">
                    <i class="fa fa-newspaper-o"></i>
                </div>
                <a class="small-box-footer" href="~/Role/">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3> @Model.Menu</h3>
                    <p>Total Menus</p>
                </div>
                <div class="icon">
                    <i class="fa fa-caret-square-o-right"></i>
                </div>
                <a class="small-box-footer" href="~/Menu/">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->

        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-black">
                <div class="inner">
                    <h3> @Model.Company</h3>
                    <p>Company</p>
                </div>
                <div class="icon">
                    <i class="fa fa-camera"></i>
                </div>
                <a class="small-box-footer" href="~/Company/">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@Model.Invoice </h3>
                    <p> Invoice</p>
                </div>
                <div class="icon">
                    <i class="fa fa-camera"></i>
                </div>
                <a class="small-box-footer" href="~/Invoice/">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-gray">
                <div class="inner">
                    <h3> @Model.Product</h3>
                    <p>Product </p>
                </div>
                <div class="icon">
                    <i class="fa fa-star-o"></i>
                </div>
                <a class="small-box-footer" href="~/Product/"> <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->


 



    <div class="row">
        

        <div class="col-md-5">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">User And Role</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div id="bindPieChart"></div>
                </div>
            </div>
        </div>
       

        <div class="col-md-7">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Full Details</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <button class="btn btn-primary btn-xs" id="plain">Plain</button>
                    <button class="btn btn-info btn-xs" id="inverted">Inverted</button>
                    <button class="btn btn-success btn-xs" id="polar">Polar</button>
                    <div class="chart" id="otherInfo"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-bar-chart-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Transaction </span>
                    <span class="info-box-number">@Model.Transaction </span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>

                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"> </span>
                    <span class="info-box-number"> </span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-map"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"> </span>
                    <span class="info-box-number"> </span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-phone"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"> </span>
                    <span class="info-box-number"> </span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->
    </div>


    <div class="row"> 
        <div class="col-md-8">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">This week Transactions</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="line-chart"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Chart</h3>
                    <div class="box-tools pull-right">
                        <button data-widget="collapse" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
                        <button data-widget="remove" class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="work-chart"></div>
                </div>
            </div>
        </div>

        


    </div>
 

</section>

<script type="text/javascript">
    $(function () {
        "use strict";

        //DONUT CHART
        var donut = new Morris.Donut({
            element: 'work-chart',
            resize: true,
            colors: ["#00a65a", "#00e765", "#3c8dbc", "#e542f4", "#29102b", "#3cad8d", "#74c153"],
            data: [
                {
                    label: "Total User", value: "@Model.User"
                },
                {
                    label: "Total Role", value: "@Model.Role"
                },
                {
                    label: "Total Menu", value: "@Model.Menu"
                },
                {
                    label: "Total Company", value: "@Model.Company"
                }
                ,
                {
                    label: "Total Invoice", value: "@Model.Invoice"
                }
                ,
                {
                    label: "Total Product", value: "@Model.Product"
                }
                ,
                {
                    label: "Total Transaction", value: "@Model.Transaction"
                }
            ],
            hideHover: 'auto'
        });



        BindLastRegister(7);//there i pass day of last


    });


    var chart = Highcharts.chart('otherInfo', {

        title: {
            text: 'Other Information'
        },

        xAxis: {
            categories: ['User', 'Role', 'Menu', 'Transaction', 'Product', 'Invoice', 'Company']
        },

        series: [{
            name: 'Total Count',
            type: 'column',
            colorByPoint: true,
            data: [@Model.User,@Model.Role,@Model.Menu,@Model.Transaction,@Model.Product,@Model.Invoice,@Model.Company],
            showInLegend: false
        }], chart: {
            inverted: true,
            polar: false
        }

    });


    $('#plain').click(function () {
        chart.update({
            chart: { inverted: false, polar: false },
            subtitle: { text: 'Plain' }
        });
    });

    $('#inverted').click(function () {
        chart.update({
            chart: { inverted: true, polar: false },
            subtitle: { text: 'Inverted' }
        });
    });

    $('#polar').click(function () {
        chart.update({
            chart: { inverted: false, polar: true },
            subtitle: { text: 'Polar' }
        });
    });



    Highcharts.chart('bindPieChart', {
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 33
            }
        },
        title: {
            text: 'Role & User'
        },
        //subtitle: {
        //    text: 'g'
        //},
        plotOptions: {
            pie: {
                innerSize: 100,
                depth: 45
            }
        },
        series: [{
            name: 'Total Count',
            data: [
                ['User', @Model.User],
                ['Role', @Model.Role],
            ]
        }]
    });

    function BindLastRegister(days) {
        $.ajax({
            url: "@Url.Content("~/Home/LineChart")",
            type: "Post",
            data: { 'lastDay': days },
            dataType: 'json',//json
            success: function (data) {
                Morris.Line({
                    element: 'line-chart',
                    resize: true,
                    data: data,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Count'],
                    lineColors: ['#00a65a'],
                    hideHover: 'auto'
                });
            }
        });
    }

</script>
